::-webkit-scrollbar {
  width: 0.8em;
  height: 0.8em;
}
::-webkit-scrollbar-track {
  background-color: rgba(32, 32, 38, 1);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: hsl(170, 66%, 55%);
}
